#list-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;

  #header {
    font-size: 5rem;
  }

  .card-sidebar {
    position: absolute;
    right: 10px;
    top: 7px;
  }

  max-width: 600px;
  width: 90%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

#no-ideas-spinner {
  margin: auto;
}

mat-card-content {
  margin-left: 18px;
  margin-top: 10px;
}
